node_modules/
.env
.env.local
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/
build/
.next/
out/
.vercel/
.vscode/
.idea/
*.iml
.classpath
.c9/
*.swp
*.swo
*~
.project
.pydevproject
.settings
*.sublime-workspace
.history
